<p-table
  #dt
  [columns]="cols"
  [value]="rowData"
  [paginator]="true"
  [rows]="10"
  [first]="first"
  [rowHover]="true"
  [globalFilterFields]="['firstname', 'surname', 'email', 'id']"
>
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      <h5 class="m-0">List of users</h5>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          #searchInput
          pInputText
          type="text"
          (input)="dt.filterGlobal(searchInput.value, 'contains')"
          placeholder="Search..."
        />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th></th>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td>
        <p-tableCheckbox [value]=""></p-tableCheckbox>
      </td>
      <td *ngFor="let col of columns">
        {{ rowData[col.field] }}
      </td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success p-mr-2"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-warning"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft" let-state>
    {{ state.first }}
    <button type="button" pButton icon="pi pi-refresh"></button>
  </ng-template>
  <ng-template pTemplate="paginatorright">
    <button type="button" pButton icon="pi pi-cloud-upload"></button>
  </ng-template>
  <ng-template let-item pTemplate="paginatordropdownitem">
    {{ item.value }} - per page
  </ng-template>
</p-table>
